<style>
  html,
  body {
    height: 100%;
    margin: 0;
  }
  .container {
    display: flex;
    height: 100%;
    width: 100%;
  }
  .left,
  .right {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    width: 40%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .header {
    flex: 0 1 auto;
    text-align: center;
  }
  .filldown {
    flex: 1 1 auto;
  }
  .parseButton {
    display: flex;
    vertical-align: middle;
  }
</style>

<div class="container">
  <div class="left">
    <div class="header">
      <h1>Input Mohawk+T File</h1>
    </div>
    <textarea id="input" class="filldown"></textarea>
  </div>
  <div class="center">
    <div></div>
    <div class="parseButton">
      <button onclick="parse()">Parse</button>
    </div>
    <div></div>
  </div>
  <div class="right">
    <div class="header">
      <h1>Output JSON</h1>
    </div>
    <textarea id="output" class="filldown"></textarea>
  </div>
</div>

<script src="parser.js"></script>
<script src="jsdump.js"></script>

<script>
  function parse() {
    var output = parser.parse(document.getElementById('input').value);
    document.getElementById('output').value = jsDump.parse(output);
  }
</script>
